
#activity, #restaurant, #movie{
    visibility: visible;
}

/* img{
    height: 100px;
    width: 100px;
} */

#movie-card, #restaurant-card, #activity-card{
    width: min-content;
}
#selected-card{
    width: 100%;
}

#activity-body, #restaurant-body, #movie-body, #selected-items{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 0.5rem 5px 1rem 5px;
}

#container{
    margin-right: 1px;
}

/* .randoButton{
    visibility: hidden;
} */
#save-date, #btn-past-dates{
    visibility: hidden;
}

.nav-extended{
    background: url("../images/header2.png");
    width: auto;
    height: auto;
    border: 1px solid;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 25px;
}

#email, #password{
    visibility: visible;
}