
#activity, #restaurant, #movie{
    visibility: visible;
}

/* img{
    height: 100px;
    width: 100px;
} */

#movie-card, #restaurant-card, #activity-card{
    width: 30%;
}
#selected-card{
    width: 100%;
}

#activity-body, #restaurant-body, #movie-body, #selected-items{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 0.5rem 5px 1rem 5px;
}

#container{
    margin-right: 1px;
}